:root {

    --kolor-czcionki-onas-h1: #ffffff;
        --kolor-czcionki-onas-h1-darkmode: #ffffff;
        --kolor-czcionki-onas-h1-lightmode: #ffffff;

    --kolor-tla-hover-onas: rgba(224, 217, 217, 0.91);
        --kolor-tla-hover-onas-darkmode: rgba(12, 12, 12, 0.63);
        --kolor-tla-hover-onas-lightmode: rgba(12, 12, 12, 0.63);


    --kolor-czcionki-onas-p: #ff0000;
        --kolor-czcionki-onas-p-darkmode: rgba(255, 255, 255, 0.7);
        --kolor-czcionki-onas-p-lightmode: #ffffff;


    --kolor-shadow-onas: rgba(48, 0, 255, 0.37);
        --kolor-shadow-onas-darkmode: rgba(133, 130, 145, 0.37);
        --kolor-shadow-onas-lightmode: rgb(136, 159, 169);


    /* newsletter V*/

    --kolor-tla-newslettera: transparent;
        --kolor-tla-newslettera-darkmode: transparent;
        --kolor-tla-newslettera-lightmode: transparent;


    --kolor-czcionki-newsletter-h1: white;
        --kolor-czcionki-newsletter-h1-darkmode: white;
        --kolor-czcionki-newsletter-h1-lightmode: white;


    --kolor-tla-przycisku-newslettera: black;
        --kolor-tla-przycisku-newslettera-darkmode: black;
        --kolor-tla-przycisku-newslettera-lightmode: black;

    --kolor-czcionki-przycisku-newsletera:white;
        --kolor-czcionki-przycisku-newsletera-darkmode:white;
        --kolor-czcionki-przycisku-newsletera-lightmode:white;




}


#onas {
    border: 1px solid transparent;
    width: 700px;
    height: 200px;
    margin: 0 auto 50px;
    border-radius: 15px;
    background-color: transparent;  /* c00l  */
    /*background-color: var(--kolor-shadow-onas);*/
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 40px 20px var(--kolor-shadow-onas);
    transition: transform 0.3s ease-in-out;

    &:hover {
        background-color: var(--kolor-tla-hover-onas);
        transition: 1.3s ease;
    }

}

#onas h1 {
    position: relative;
    color: var(--kolor-czcionki-onas-h1);
    margin-top: 25px;

}

#onas p {
    margin-bottom: 20px;
    position: relative;
    color: var(--kolor-czcionki-onas-p);
    padding: 10px;
}












#newsletter {
    width: 500px;
    height: 190px;
    background-color: var(--kolor-tla-newslettera);
    margin: 0 auto 50px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#newsletter h1 {
    margin: 0;
    color:  var( --kolor-czcionki-newsletter-h1);
}

#newsletter input,
#button7 {
    margin-top: 10px;
    width: 200px;
    height: 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    align-self: center;
}

#newsletter input {
    padding: 10px;
    width: 400px;
    text-decoration: none;
    border: none;
    outline: none;
    opacity: 0.8;

    &:hover{
        opacity: 1;
    }
}

#button7 {
    text-align: center;
    line-height: 2.5em;
    justify-content: center;
    width: 125px;
    background-color: var(--kolor-tla-przycisku-newslettera);
    color:var(--kolor-czcionki-przycisku-newsletera);
    font-weight: bold;
}
