:root {
  --kolor-tla-calej-klawiatury: rgba(255, 255, 255, 0.5);
  /*zmienia kolor tla klawiatury*/

  --kolor-tla-calej-klawiatury-darkmode: rgba(171, 171, 171, 0.5);
  --kolor-tla-calej-klawiatury-lightmode: rgba(255, 255, 255, 0.5);
}

body {
  /*
   background-color: rgba(206, 20, 20, 0.52);
   background-image: url('/images/tlo-glowna.jpg');
    */
  position: relative;
  background-image: url("https://img.freepik.com/free-photo/abstract-surface-textures-white-concrete-stone-wall_74190-8189.jpg?size=626&ext=jpg&ga=GA1.1.1222169770.1702512000&semt=ais");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  gap: 5px;
  background-color: var(--kolor-tla-calej-klawiatury);
  padding: 15px;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
  z-index: 1;
}

button {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #cccccc;
  }
}

#space {
  grid-column: span 6;
  padding: 10px;
}

#l-shift {
  grid-column: span 2;
  padding: 10px;
}

#enter {
  grid-column: span 2;
  padding: 10px;
}

#customTextForm {
  width: 70%;
  margin: auto;

}

#customTextForm textarea,
#customTextForm button {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

#customTextForm textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  /*border: 1px solid #ccc;*/
  border-radius: 4px;
  box-sizing: border-box;
  /*color: #333;*/
  height: 50px;
  color: white;
  border: 1px solid transparent;
}

#customTextForm textarea::placeholder {
  color: #ab9a9a;
}








.btn-custom {
  position: relative;
  font-size: 16px;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 5px;
  transition: all .2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: #ffffff;
  background-color: #343434;
  cursor: pointer;
  top: -340px;
  left: 20px;
}

.btn-custom:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  color: black;
  font-weight: bold;
}

.btn-custom:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-custom::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-custom::after {
  background-color: #fff;
}

.btn-custom:hover::after {
  transform: scaleX(1.6) scaleY(1.6);
  opacity: 0;
}