#timer {
    border: 1px solid transparent;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;

    display: grid;
    place-items: center;
    margin-top: 10px;

    animation: pulseAnimation 2s infinite alternate; /* Add animation property */
}

#timer #czas {
    color: white;
    font-size: 2em;
}

#timer #accuracy {
    color: white;
    font-size: 1.5em;
}

@keyframes pulseAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}