:root{
    --kolor-tla-calej-klawiatury: rgba(255, 255, 255, 0.5);
        --kolor-tla-calej-klawiatury-darkmode: rgba(171, 171, 171, 0.5);
        --kolor-tla-calej-klawiatury-lightmode: rgba(255, 255, 255, 0.5);
}


body {
    /*
   background-color: rgba(206, 20, 20, 0.52);
   background-image: url('/images/tlo-glowna.jpg');
    */
    position: relative;
    background-image: url('https://img.freepik.com/free-photo/abstract-surface-textures-white-concrete-stone-wall_74190-8189.jpg?size=626&ext=jpg&ga=GA1.1.1222169770.1702512000&semt=ais');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    gap: 5px;
    background-color: var(--kolor-tla-calej-klawiatury);
    padding: 15px;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
    z-index: 1;
}

button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover{
        background-color: #cccccc;
    }
}


#space{
    grid-column: span 6;
    padding: 10px;
}

#l-shift{
    grid-column: span 2;
    padding: 10px;
}

#enter{
    grid-column: span 2;
    padding: 10px;
}